.navbar {
  z-index: 2;
  display: flex;
  margin: auto;
  margin-right: 0;
}
.registCover {
  display: flex;
  justify-content: flex-end;
}
.regist {
  display: flex;
  margin-right: 5px;
}
.boxMargin {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  padding: 0 12px;
}
.boxMargin:hover {
  border-radius: 50px;
  background-color: var(--color-button-hover);
}
.languege {
  width: 46px;
  height: 48px;
}
.languege button {
  width: 46px;
  height: 42px;

  border: none;
  background-color: transparent;
}
.imageCover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imageCover img {
  width: 16px;
}
.lineheight {
}
.userButton {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  width: 86px;
  height: 48px;
  border: 1px solid var(--color-userbutton-hover);
  border-radius: 50px;
  transition: all 0.3s;
}
.userButton:hover {
  box-shadow: 0px 1px 3px 2px var(--color-userbutton-hover);
}
.bugerImage,
.userImage {
  margin-left: 13px;
  display: flex;
  align-self: center;
}
.bugerImage img {
  width: 16px;
  height: 16px;
}

.userImage img {
  width: 32px;
  height: 32px;
}
