.navbar {
  width: 100%;
  display: flex;

  margin: auto;
}
.registCover {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.regist {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.boxMargin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineheight {
}
