a {
  text-decoration: none;
  color: black;
}

.headerMargin {
  width: 90%;
  margin: auto;
  position: sticky;
  height: 168px;
}
.header {
  height: 80px;
  display: flex;
}
.headerMargin::after {
  width: 100%;
  content: "";
}
.logoImage {
  margin: auto;
  margin-left: 0;
  display: flex;
  flex: 1 0 140px;
}
.lodging {
  display: flex;
  align-self: center;
}
.lodging button {
  width: 64px;
  height: 44px;
}
.lodging span {
  font-weight: bold;
}
.logoImage a img {
  width: 118px;
  height: 64px;
}
.checkInCover {
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  padding: 0 24px;
  flex: 0 1 140px;
}
.position {
  flex: 0 1 auto;
}
.checkIn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.focus {
  border: none;
  display: flex;
  align-self: center;
}

.focus button {
  color: #6d6d6d;
  width: 64px;
  height: 44px;
}
.focus a {
  color: #6d6d6d;
  display: block;
  text-align: center;
  line-height: 2.9;
  width: 115px;
  height: 44px;
}
.focus:hover {
}
.focus:hover a,
.focus:hover button {
  border-radius: 50px;
  background-color: #f7f7f7;
  color: black;
}
span {
  font-size: 1rem;
}
