.checkbarCover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 850px;
  height: 66px;
  margin: auto;
  border: 1px solid var(--color-userButton-hover);
  box-shadow: 0px 1px 3px 0px var(--color-userButton-hover);
  align-items: center;
  border-radius: 35px;
}
.travelDestination {
  padding: 0 32px;
  border-right: 1px solid var(--color-userButton-hover);
}
.travelDestination input {
  border: none;
}

.travelDestination input:focus {
  outline: none;
}
.checkInAndOut {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.checkInAndOut > div {
  padding: 0 24px;
  border-right: 1px solid var(--color-userButton-hover);
}
.traveler {
  display: flex;
  justify-content: space-between;
  padding-right: 11px;
}
.guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}
.searchImage {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 48px;*/

  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  height: 48px;
  border-radius: 25px;
  color: white;

  width: 92px;
}

.searchImage div {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.searchImage div img {
  width: 100%;
}

.fontSize {
  font-size: 0.75rem;
  font-weight: bold;
}
.fontSizeSub {
  font-size: 0.875rem;
  color: var(--color-headerText-hover);
}
