.menubarCover {
  display: flex;
  width: 90%;
  margin: auto;
}
.scroll {
  margin: 0 15px;
  overflow: hidden;
}
.filterButton {
  width: 82px;
  min-width: 82px;
  height: 48px;
  border: 1px solid black;
  border-radius: 12px;
}
